extends layout
block content
    h1= title
    form#form1(name='form1', method='POST', action='/founditem')
        b
            | Please fill up the form with the found item information and submit.
        p
            | Select the found item from one of the selections below:<br>
            select(name='founditem', multiple='', required)
                option(value='uid')  BU ID
                option(value='keys') Keys
                option(value='wallet')  Wallet
                option(value='waterbottle')  Waterbottle
                option(value='clothing')  Clothing
                option(value='accessories')  Jewelry or Accessories
                option(value='other')  Other
        p
            | Found Item Description:<br>
            textarea#description(name='description', placeholder='Enter a short description about the found item', required)
        p
            | Where do you think you found the item?
            input#address(type='textbox', name='address', required)
        button(onclick='myFunction()') Submit
            p#demo
    script.
        function myFunction() {
            var txt;
            var f = document.getElementsByName("founditem")
            var d = document.getElementsByName("description")
            var r = confirm("Confirm your information!" +
                    " \n" +
                    "Found item:" +
                    f[0].value +
                    "\n" +
                    "Description:" +
                    d[0].value
            );
            if (r == true) {
                input(type = 'submit', value = "submit")
            } else {
                txt = "Cancel!";
            }
            document.getElementById("demo").innerHTML = txt;
        }
    a(href='/home', class='text-center new-account') Return Home