extends layout
block content
    h1= title
    form#form1(name='form1', method='POST', action='/lostitem')
        b
            | Please fill up the form with the lost item information and submit.
        p
            | Select the lost item from one of the selections below:<br>
            select(name='lostitem', multiple='', required)
                option(value='uid')  BU ID
                option(value='keys') Keys
                option(value='wallet')  Wallet
                option(value='waterbottle')  Waterbottle
                option(value='clothing')  Clothing
                option(value='accessories')  Jewelry or Accessories
                option(value='other')  Other
        p
            | Lost Item Description:<br>
            textarea#description(name='description', placeholder='Enter a short description about the lost item', required)
        p
            | Where do you think you lost the item?
            input#address(type='textbox', name='address', required)
            input#latitude(name = 'latitude', type='hidden', value = '')
            input#longitude(name = 'longitude', type='hidden', value = '')
        button(onclick='myFunction()') Submit

    p#demo
    script.
        function myFunction() {
            var geocoder = new google.maps.Geocoder();
            var address = document.getElementsByName('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    document.getElementsByName('latitude').value = results[0].geometry.location.lat();
                    document.getElementsByName('longitude').value = results[0].geometry.location.lng();
                    var abc = results[0].geometry.location.lat();
                    var xyz = results[0].geometry.location.lng();
                    alert(abc);
                } else {
                    alert('Could not Geocode: ' + status);
                }
            });

            var txt;
            var f = document.getElementsByName("lostitem")
            var d = document.getElementsByName("description")
            var r = confirm("Confirm your information!" +
                    "\n" +
                    "Lost item:" +
                    f[0].value +
                    "\n" +
                    "Description:" +
                    d[0].value +
                    "\n" +
                    document.getElementsByName('latitude')[0].value +
                    document.getElementsByName('latitude').value
            );
            if (r == true) {
                input(type = 'submit', value = 'submit', name = 'submit')
            } else {
                txt = "Cancel!";
            }
            document.getElementById("demo").innerHTML = txt;
        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBh29L-rAcuz0hMNS4hCncrsNhK_BLPcw&callback=initMap')
    a(href='/home', class='text-center new-account') Return Home