extends layout
block content
    h1= title
    #map
    script.
     function initMap() {
        var bu = {lat: 42.3496, lng: -71.0997};
        var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 15,
           center: bu
        });
         var contentString =
             '<table style="width:100%">'+
             '<tr>'+
             '<td>Jill</td>'+
             '<td>Smith</td>'+
             '<td>50</td>'+
             '</tr>'+
             '<tr>'+
             '<td>Eve</td>'+
             '<td>Jackson</td>'+
             '<td>94</td>'+
             '</tr>'+
             '</table>'

        var infowindow = new google.maps.InfoWindow({
           content: contentString,
           maxWidth: 200
        });
        var marker = new google.maps.Marker({
           position: bu,
           map: map,
           title: 'Boston University'
        });
        marker.addListener('click', function () {
           infowindow.open(map, marker);
        });
     }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBh29L-rAcuz0hMNS4hCncrsNhK_BLPcw&callback=initMap')
