//
   Created by Jonathan on 12/6/15.

extends layout
block content
   h1.
      User List
   ul
      each user, i in userlist
         li
            = user.firstname + " " + user.lastname
            br
            = user.buid
            br
            = user.phone
            br
            = user.email